[submodule "lib/a_star"]
	path = lib/a_star
	url = https://github.com/QCute/a_star.git
[submodule "lib/mysql-connector-erlang"]
	path = lib/mysql-connector-erlang
	url = https://github.com/QCute/mysql-connector-erlang.git
[submodule "lib/volley"]
	path = lib/volley
	url = https://github.com/QCute/volley.git
