otp_path: "C:\\Program Files\\Erlang OTP"
deps_dirs:
  - "lib/*"
code_path_extra_dirs:
  - "beam/"
include_dirs:
  - "include"
  - "lib/*/include"
  - "script/make/*/data"
diagnostics:
  enabled:
    - dialyzer
  disabled:
    - crossref
    - unused_includes
    - unused_macros
lenses:
  enabled:
    - ct-run-test
  disabled:
    - show-behaviour-usages
providers:
  enabled:
    - signature-help
    - document-range-formatting
    - document-on-type-formatting