[
    {kernel, [
        {sasl_error_logger,         false},           %% kernel logger false
        {logger_sasl_compatible,    true},            %% otp 21 or later disable sasl log print to tty
        {inet_dist_listen_min,      3000},            %% min listen port
        {inet_dist_listen_max,      3000}             %% max listen port
    ]},
    {sasl, [
        {sasl_error_logger,         false},           %% sasl logger false
        {errlog_type,               error},           %% log level
        {error_logger_mf_dir,       "logs"},          %% without sasl log
        {error_logger_mf_maxbytes,  1048576},         %% 1M per log file.
        {error_logger_mf_maxfiles,  100}              %% maximum number of 100
    ]},
    {main, [
        {server_id,                 0},               %% 服务器编号
        {node_prefix,               "erlang"},        %% 节点前缀
        {game_version,              1},               %% 游戏版本
        {node_type,                 big_world},       %% 节点类型

        {include,                   "include/"},      %% include 目录
        {beam,                      "beam/"},         %% beam 目录
        {src,                       "src/"}           %% src 目录
    ]}
].