[
    {kernel, [
        {sasl_error_logger,         false},         %% kernel logger false
        {logger_sasl_compatible,    true}           %% otp 21 or later disable sasl log print to tty
    ]},
    {sasl, [
        {sasl_error_logger,         false},         %% sasl logger false
        {errlog_type,               error},         %% log level
        {error_logger_mf_dir,       "logs"},        %% without sasl log
        {error_logger_mf_maxbytes,  1048760},       %% 10M per log file.
        {error_logger_mf_maxfiles,  10}             %% maximum number of 10
    ]},
    {main, [
        {pool, [                                    %% 数据库进程池配置
            {host,                  "127.0.0.1"},   %% 地址
            {port,                  3306},          %% 端口
            {user,                  "root"},        %% 用户名
            {password,              "root"},        %% 密码
            {database,              "game"},        %% 数据库
            {encode,                utf8mb4}        %% 数据库字符集
        ]},
        {ssl_file,                  "fake"},        %% ssl证书, 自动添加固定后缀 .crt/.key  
        {server_no,                 0},             %% 服务器编号
        {gen_tcp_port,              "8974"},        %% tcp起始端口
        {ssl_port,                  "8998"},        %% ssl起始端口
        {socket_type,               gen_tcp},       %% gen_tcp/ssl
        {node_prefix,               "erlang"},      %% 节点前缀
        {game_version,              1},             %% 游戏版本
        {node_type,                 center},        %% 节点类型

        {include,                   "include/"},    %% include 目录
        {beam,                      "beam/"},       %% beam 目录
        {src,                       "src/"}         %% src 目录
    ]}
].