[
    {kernel, [
        {sasl_error_logger,                           false},                      %% kernel logger false
        {logger_sasl_compatible,                      true},                       %% otp 21 or later disable sasl log print to tty
        {inet_dist_listen_min,                        40000},                      %% min listen port
        {inet_dist_listen_max,                        50000}                       %% max listen port
    ]},
    {sasl, [
        {sasl_error_logger,                           false},                      %% sasl logger false
        {errlog_type,                                 error}                       %% log level
    ]},
    {main, [
        {cookie,                                      erlang},                     %% cookie
        {server_id,                                     1001},                     %% server id
        {node_type,                                   center}                      %% node type
    ]}
].
