[
    {kernel, [{logger_sasl_compatible, true}]}, %% otp 21 or later
    {sasl, [
        {sasl_error_logger,         false},     %% sasl logger
        {errlog_type,               error},     %% log level
        {error_logger_mf_dir,       "logs"},  %% dirs
        {error_logger_mf_maxbytes,  1048760},   %% 10M per log file.
        {error_logger_mf_maxfiles,  10}         %% maximum number of 10
    ]}
].
 
