[
    {kernel, [
        {sasl_error_logger,                           false},                      %% kernel logger false
        {logger_sasl_compatible,                      true},                       %% otp 21 or later disable sasl log print to tty
        {inet_dist_listen_min,                        30000},                      %% min listen port
        {inet_dist_listen_max,                        50000}                       %% max listen port
    ]},
    {sasl, [
        {sasl_error_logger,                           false},                      %% sasl logger false
        {errlog_type,                                 error}                       %% log level
    ]},
    {main, [
        {net, [                                                                    %% 网络通讯配置
            {socket_type,                             gen_tcp},                    %% gen_tcp/ssl
            {gen_tcp_start_port,                      10000},                      %% tcp起始端口
            {gen_tcp_acceptor_number,                 1},                          %% tcp接收器个数
            {ssl_start_port,                          20000},                      %% ssl起始端口
            {ssl_acceptor_number,                     1},                          %% ssl接收器个数
            {ssl_cert_file,                           "config/cert/fake.me.crt"},  %% ssl公有证书
            {ssl_key_file,                            "config/cert/fake.me.key"}   %% ssl私共证书
        ]},
        {mysql_connector_pool, [
            {size,                                    1}                           %% 数据库连接池大小
        ]},
        {mysql_connector, [                                                        %% 数据库连接器配置
            {host,                                    "127.0.0.1"},                %% 地址
            {port,                                    3306},                       %% 端口
            {user,                                    "root"},                     %% 用户名
            {password,                                "root"},                     %% 密码
            {database,                                "main"},                     %% 数据库
            {encoding,                                "utf8mb4"}                   %% 数据库字符集
        ]},
        {cookie,                                      erlang},                     %% cookie
        {channel_id,                                  1},                          %% 渠道编号
        {server_id,                                   1},                          %% 服务器编号
        {node_type,                                   local},                      %% 节点类型
        {open_time,                                   1577808000},                 %% 开服时间
        {path, [
            {app,                                     "app/"},                     %% app 目录
            {beam,                                    "beam/"},                    %% beam 目录
            {config,                                  "config/"},                  %% config 目录
            {include,                                 "include/"},                 %% include 目录
            {script,                                  "script/"},                  %% script 目录
            {src,                                     "src/"}                      %% src 目录
        ]}
    ]}
].
