[
    {kernel, [
        {sasl_error_logger,                           false},                      %% kernel logger false
        {logger_sasl_compatible,                      true},                       %% otp 21 or later disable sasl log print to tty
        {inet_dist_listen_min,                        5000},                       %% min listen port
        {inet_dist_listen_max,                        9000}                        %% max listen port
    ]},
    {sasl, [
        {sasl_error_logger,                           false},                      %% sasl logger false
        {errlog_type,                                 error},                      %% log level
        {error_logger_mf_dir,                         "logs"},                     %% without sasl log
        {error_logger_mf_maxbytes,                    1048576},                    %% 1M per log file.
        {error_logger_mf_maxfiles,                    100}                         %% maximum number of 100
    ]},
    {main, [
        {mysql_connector, [                                                        %% 数据库连接器配置
            {host,                                    "127.0.0.1"},                %% 地址
            {port,                                    3306},                       %% 端口
            {user,                                    "root"},                     %% 用户名
            {password,                                "root"},                     %% 密码
            {database,                                "main"},                     %% 数据库
            {encoding,                                "utf8mb4"}                   %% 数据库字符集
        ]},
        {http, [                                                                   %% http服务配置
            {port,                                    3000},                       %% 端口
            {server_name,                             "fake.me"},                  %% 域名
            {server_root,                             "."},                        %% 服务器根目录
            {document_root,                           "."}                         %% 文档根目录
        ]},
        {net, [
            {socket_type,                             gen_tcp},                    %% gen_tcp/ssl
            {gen_tcp_port,                            10000},                      %% tcp起始端口
            {gen_tcp_acceptor_number,                 1},                          %% tcp接收器个数
            {ssl_port,                                12000},                      %% ssl起始端口
            {ssl_acceptor_number,                     1},                          %% ssl接收器个数
            {ssl_cert_file,                           "config/cert/fake.me.crt"},  %% ssl公有证书
            {ssl_key_file,                            "config/cert/fake.me.key"}   %% ssl私共证书
        ]},
        {cookie,                                      erlang},                     %% cookie
        {channel_id,                                  1},                          %% 渠道编号
        {server_id,                                   1},                          %% 服务器编号
        {node_prefix,                                 "erlang"},                   %% 节点前缀
        {node_type,                                   local},                      %% 节点类型
        {time_zoom,                                   +8},                         %% 时区
        {path, [
            {include,                                 "include/"},                 %% include 目录
            {config,                                  "config/"},                  %% config 目录
            {beam,                                    "beam/"},                    %% beam 目录
            {src,                                     "src/"}                      %% src 目录
        ]}
    ]}
].
